# rust
/target/

#data
data/
# editor
*~
.*~
*.swp
*.swo
\#*#
.vscode/

# python
*.pyc
*.pyo
__pycache__/
__main__/

# ninja
.ninja_deps
.ninja_log

/thi_output
/deepsort-tracker/wayside_?_camera?/
/config/files/*

# colcon
/build/
/install/
/log/
