[submodule "src/lib/multi-stream-synchronizer"]
	path = rust/multi-stream-synchronizer
	url = https://github.com/NEWSLabNTU/multi-stream-synchronizer.git
[submodule "ros/conflux"]
	path = ros/conflux
	url = https://github.com/jerry73204/conflux.git
