[defaults]
roles_path = ./roles
collections_path = ./
interpreter_python = /usr/bin/python3
callbacks_enabled = profile_tasks
stdout_callback = yaml
deprecation_warnings = False

[ssh_connection]
pipelining = True